src/main/resources/xsd/core/flight/emergency/Emergency.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/flight/4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fx="http://www.fixm.aero/flight/4.3" xmlns:fb="http://www.fixm.aero/base/4.3" elementFormDefault="qualified" version="4.3.0">
	<xs:annotation>
		<xs:documentation>The Emergency Package describes any emergency filed during the flight.

===========================================
Copyright (c) 2023, Members of the FIXM CCB
===========================================
All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  * Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
  * Neither the names of the FIXM CCB members nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission.

DISCLAIMER
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
==========================================
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative:
http://www.opensource.org/licenses/bsd-license.php
The authoritative reference for FIXM is www.FIXM.aero.
Details on the FIXM CCB and a list of its members is available on request from FIXM_Secretariat@lists.eurocontrol.int</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.fixm.aero/base/4.3" schemaLocation="../../base/Base.xsd"/>
	<xs:simpleType name="EmergencyPhaseType">
		<xs:annotation>
			<xs:documentation>A generic term meaning, as the case may be, uncertainty phase, alert phase or distress phase. [ICAO Annex 11]
This is the stage of emergency the flight is currently under, as designated by an ATS unit. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALERFA">
				<xs:annotation>
					<xs:documentation>The code word used to designate an alert phase. [ICAO Annex 11]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DETRESFA">
				<xs:annotation>
					<xs:documentation>The code word used to designate a distress phase. [ICAO Annex 11]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INCERFA">
				<xs:annotation>
					<xs:documentation>The code word used to designate an uncertainty phase. [ICAO Annex 11]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FlightEmergencyType">
		<xs:annotation>
			<xs:documentation>Groups emergency information (description, phase, position, etc) for the flight.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="actionTaken" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A description of the actions taken by the reporting Air Traffic Service (ATS) unit, in the event of search and rescue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="emergencyDescription" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A short, plain-language description of the nature of the emergency.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:FlightEmergencyExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastContact" type="fx:LastContactType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The last two-way contact between an ATS unit and the aircraft. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originator" type="fb:AtcUnitReferenceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The ICAO identifier of the ATS unit originating the emergency message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherInformation" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Other pertinent information not captured elsewhere needed to notify appropriate organizations regarding aircraft in need of search and rescue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phase" type="fx:EmergencyPhaseType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A generic term meaning, as the case may be, uncertainty phase, alert phase or distress phase. [ICAO Annex 11]

This is the stage of emergency the flight is currently under or an indication the emergency has been cancelled, as designated by an ATS unit. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LastContactType">
		<xs:annotation>
			<xs:documentation>The last two-way contact between an ATS unit and the aircraft. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extension" type="fb:LastContactExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastContactFrequency" type="fb:FrequencyType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The transmitting/receiving frequency of the last two-way contact between the aircraft and an ATS unit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastContactTime" type="fb:DateTimeUtcType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The time of the last two-way contact between the aircraft and an ATS unit. The time is given in UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastContactUnit" type="fb:AtcUnitNameType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The last ATS unit which had two-way contact with the aircraft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="fx:LastPositionReportType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The position of the aircraft last known to ATS and a corresponding timestamp.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LastPositionReportType">
		<xs:annotation>
			<xs:documentation>The position of the aircraft last known to ATS and a corresponding timestamp.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="altitude" type="fb:AltitudeWithSourceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The vertical distance, at the last known position, of the aircraft considered as a point, measured from mean Sea level (MSL). [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="determinationMethod" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A plain-language description of the method used to determine the last known position of an aircraft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:LastPositionReportExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="groundSpeed" type="fb:GroundSpeedType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The speed of the aircraft relative to the surface of the earth at the last known position. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="heading" type="fb:BearingType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The direction, at the last known position, in which the longitudinal axis of the aircraft was pointed. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="horizontalAccuracy" type="fb:DistanceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The difference between the measured horizontal coordinates of the aircraft and its true position referenced to the same geodetic datum expressed as a circular error at 95 percent probability. [FIXM]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="position" type="fb:SignificantPointChoiceType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The position of the aircraft last known to ATS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeAtPosition" type="fb:DateTimeUtcType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Timestamp corresponding to the last known position.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RadioCommunicationFailureType">
		<xs:annotation>
			<xs:documentation>Groups information regarding loss of radio communication capabilities.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contact" type="fx:LastContactType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The last ATS unit which had two-way contact with the aircraft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:RadioCommunicationFailureExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="radioFailureRemarks" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation> Pertinent information needed to notify appropriate organizations regarding loss of radio communication capabilities.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="remainingComCapability" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The remaining communication capability of the aircraft following radio failure.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
