src/main/resources/xsd/core/base/Measures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/base/4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fb="http://www.fixm.aero/base/4.3" elementFormDefault="qualified" version="4.3.0">
	<xs:annotation>
		<xs:documentation>This package contains Measure types and related units of measure. [FIXM]

===========================================
Copyright (c) 2023, Members of the FIXM CCB
===========================================
All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  * Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
  * Neither the names of the FIXM CCB members nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission.

DISCLAIMER
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
==========================================
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative:
http://www.opensource.org/licenses/bsd-license.php
The authoritative reference for FIXM is www.FIXM.aero.
Details on the FIXM CCB and a list of its members is available on request from FIXM_Secretariat@lists.eurocontrol.int</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="UnitOfMeasures.xsd"/>
	<xs:simpleType name="AltitudeSourceType">
		<xs:annotation>
			<xs:documentation>Code indicating the source of the altitude.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BAROMETRIC">
				<xs:annotation>
					<xs:documentation>This value indicates that the source is Barometric.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GNSS">
				<xs:annotation>
					<xs:documentation>This value indicates that the source is the Global Navigation Satellite System.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MeasureType">
		<xs:annotation>
			<xs:documentation>The result from performing the act or process of ascertaining the value of a characteristic of some entity. [ISO 19103, chapter 6.5.7.2] </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="RestrictedAngleType">
		<xs:annotation>
			<xs:documentation>Helper class for restrictions on Angle</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:MeasureType">
			<xs:maxInclusive value="360"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedMeasureType">
		<xs:annotation>
			<xs:documentation>Helper class for restrictions on measures.  [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:MeasureType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedSpeedType">
		<xs:restriction base="fb:SpeedType">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedVerticalDistanceType">
		<xs:annotation>
			<xs:documentation>Helper class for restrictions on fractionDigits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:VerticalDistanceType">
			<xs:fractionDigits value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpeedType">
		<xs:annotation>
			<xs:documentation>The value of a speed. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:MeasureType"/>
	</xs:simpleType>
	<xs:simpleType name="VerticalDistanceType">
		<xs:annotation>
			<xs:documentation>A vertical distance value. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:MeasureType"/>
	</xs:simpleType>
	<xs:simpleType name="VerticalReferenceType">
		<xs:annotation>
			<xs:documentation>A code indicating the reference for a vertical distance. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SFC">
				<xs:annotation>
					<xs:documentation>The distance measured from the surface of the Earth (equivalent to AGL - Above Ground Level). [AIXM 5.1]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W84">
				<xs:annotation>
					<xs:documentation>The distance measured from the WGS84 ellipsoid. [AIXM 5.1]</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZeroBearingTypeType">
		<xs:annotation>
			<xs:documentation>A code indicating the direction of the zero bearing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAGNETIC_NORTH">
				<xs:annotation>
					<xs:documentation>This value indicates that the direction is relative to Magnetic North.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRUE_NORTH">
				<xs:annotation>
					<xs:documentation>This value indicates that the direction is relative to True North.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AltitudeType">
		<xs:annotation>
			<xs:documentation>The vertical distance of a level, a point or an object considered as a point, measured from mean sea level (MSL). [ICAO Doc 4444]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:VerticalDistanceType">
				<xs:attribute name="uom" use="required" type="fb:UomAltitudeType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AltitudeWithSourceType">
		<xs:annotation>
			<xs:documentation>An altitude with a specified source. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fb:AltitudeType">
				<xs:attribute name="source" use="required" type="fb:AltitudeSourceType">
					<xs:annotation>
						<xs:documentation>The source of the altitude. [FIXM]</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AngleType">
		<xs:annotation>
			<xs:documentation>The amount of rotation needed to bring one line or plane into coincidence with another, generally measured in radians or degrees. [ISO 19103, chapter 6.5.7.9]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedAngleType">
				<xs:attribute name="uom" use="required" type="fb:UomAngleType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="BearingType">
		<xs:annotation>
			<xs:documentation>A data type used to represent direction in the coordinate reference system. [ISO 19107, chapter 6.3.12.1]

The value of a bearing indication (at a given point) is measured as the angle between the bearing and either True North or Magnetic North. The angle is measured clockwise from 0 degrees up to and including 360 degrees. The value can also be a VOR radial.  [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fb:AngleType">
				<xs:attribute name="zeroBearingType" use="required" type="fb:ZeroBearingTypeType">
					<xs:annotation>
						<xs:documentation>A code indicating the direction of the zero bearing.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DistanceType">
		<xs:annotation>
			<xs:documentation>A type for returning the separation between two points. [ISO 19103, chapter 6.5.7.7]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fb:LengthType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FlightLevelType">
		<xs:annotation>
			<xs:documentation>A surface of constant atmospheric pressure which is related to a specific pressure datum, 1 013.2 hectopascals (hPa), and is separated from other such surfaces by specific pressure intervals. [ICAO Doc 4444]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedVerticalDistanceType">
				<xs:attribute name="uom" use="required" type="fb:UomFlightLevelType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FrequencyType">
		<xs:annotation>
			<xs:documentation>The frequency value of a navigation system. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedMeasureType">
				<xs:attribute name="uom" use="required" type="fb:UomFrequencyType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="GroundSpeedType">
		<xs:annotation>
			<xs:documentation>The speed of an aircraft relative to the surface of the earth. [ICAO Doc 9426]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedSpeedType">
				<xs:attribute name="uom" use="required" type="fb:UomGroundSpeedType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HeightType">
		<xs:annotation>
			<xs:documentation>The vertical distance of a level, a point or an object considered as a point, measured from a specified datum. [ICAO Doc 4444]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:VerticalDistanceType">
				<xs:attribute name="ref" use="required" type="fb:VerticalReferenceType">
					<xs:annotation>
						<xs:documentation>Reference for the vertical measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="uom" use="required" type="fb:UomHeightType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IndicatedAirspeedType">
		<xs:annotation>
			<xs:documentation>The uncorrected reading on the airspeed indicator. [ICAO Doc 9426]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedSpeedType">
				<xs:attribute name="uom" use="required" type="fb:UomAirspeedType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthType">
		<xs:annotation>
			<xs:documentation>The measure of distance as an integral, for example the length of curve, the perimeter of a polygon as the length of the boundary. [ISO 19103, chapter 6.5.7.6]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedMeasureType">
				<xs:attribute name="uom" use="required" type="fb:UomLengthType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassType">
		<xs:annotation>
			<xs:documentation>The value of a mass. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedMeasureType">
				<xs:attribute name="uom" use="required" type="fb:UomMassType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureType">
		<xs:annotation>
			<xs:documentation>The value of a pressure. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedMeasureType">
				<xs:attribute name="uom" use="required" type="fb:UomPressureType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureType">
		<xs:annotation>
			<xs:documentation>The value of a temperature. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:MeasureType">
				<xs:attribute name="uom" use="required" type="fb:UomTemperatureType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TrueAirspeedType">
		<xs:annotation>
			<xs:documentation>The speed of the aeroplane relative to undisturbed air. [ICAO Doc 9713]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedSpeedType">
				<xs:attribute name="uom" use="required" type="fb:UomAirspeedType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VerticalRateType">
		<xs:annotation>
			<xs:documentation>An expression of an aircraft's vertical rate of change. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:SpeedType">
				<xs:attribute name="uom" use="required" type="fb:UomVerticalRateType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumeType">
		<xs:annotation>
			<xs:documentation>The measure of the physical space of any 3-D geometric object. [ISO 19103, chapter 6.5.7.15]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedMeasureType">
				<xs:attribute name="uom" use="required" type="fb:UomVolumeType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="WeightType">
		<xs:annotation>
			<xs:documentation>The value of a weight. [AIXM 5.1]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedMeasureType">
				<xs:attribute name="uom" use="required" type="fb:UomWeightType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="WindDirectionType">
		<xs:annotation>
			<xs:documentation>Direction from which the wind blows. [International Meteorological Vocabulary, WMO]</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="fb:AngleType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WindSpeedType">
		<xs:annotation>
			<xs:documentation>The speed of wind. [FIXM]</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="fb:RestrictedSpeedType">
				<xs:attribute name="uom" use="required" type="fb:UomWindSpeedType">
					<xs:annotation>
						<xs:documentation>Unit of measure</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
