src/main/resources/xsd/core/flight/cargo/DangerousGoods.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/flight/4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fx="http://www.fixm.aero/flight/4.3" xmlns:fb="http://www.fixm.aero/base/4.3" elementFormDefault="qualified" version="4.3.0">
	<xs:annotation>
		<xs:documentation>The Dangerous Goods schema contains the information required for the shipment of dangerous goods.

===========================================
Copyright (c) 2023, Members of the FIXM CCB
===========================================
All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  * Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
  * Neither the names of the FIXM CCB members nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission.

DISCLAIMER
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
==========================================
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative:
http://www.opensource.org/licenses/bsd-license.php
The authoritative reference for FIXM is www.FIXM.aero.
Details on the FIXM CCB and a list of its members is available on request from FIXM_Secretariat@lists.eurocontrol.int</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.fixm.aero/base/4.3" schemaLocation="../../base/Base.xsd"/>
	<xs:include schemaLocation="Packaging.xsd"/>
	<xs:simpleType name="AirWaybillNumberType">
		<xs:annotation>
			<xs:documentation>The number referencing the air waybill.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:CharacterStringType">
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DangerousGoodsType">
		<xs:annotation>
			<xs:documentation>Articles or substances which are capable of posing a risk to health, safety, property or the environment and which are shown in the list of dangerous goods in the Technical Instructions or which are classified according to those Instructions. [ICAO Annex 18]</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aircraftLimitation" type="fx:AircraftDangerousGoodsLimitationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Describes whether the shipment is packed to comply with the limitations prescribed for passenger and cargo aircraft or the limitations for cargo aircraft only.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="airWaybillNumber" type="fx:AirWaybillNumberType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The number referencing the air waybill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:DangerousGoodsExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="onboardLocation" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The location of a dangerous goods shipment inside the airframe.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="packageGroup" type="fx:DangerousGoodsPackageGroupType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>A code that indicates the relative degree of danger presented by various articles and substances within a Class or Division.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shippingInformation" type="fx:ShippingInformationType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>IATA Shipper's Declaration for Dangerous Goods.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShippingInformationType">
		<xs:annotation>
			<xs:documentation>IATA Shipper's Declaration for Dangerous Goods.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="extension" type="fb:ShippingInformationExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shipmentAuthorizations" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Additional information related to an approval, permission, or other specific detail regarding the shipment of dangerous goods.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subsidiaryHazardClassAndDivision" type="fb:CharacterStringType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>An identifier of any subsidiary hazard class(es)/division(s) in addition to the primary hazard class and division.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
