src/main/resources/xsd/core/flight/cargo/RadioactiveMaterials.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.fixm.aero/flight/4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fx="http://www.fixm.aero/flight/4.3" xmlns:fb="http://www.fixm.aero/base/4.3" elementFormDefault="qualified" version="4.3.0">
	<xs:annotation>
		<xs:documentation>The grouping element for goods that contain radioactive materials.

===========================================
Copyright (c) 2023, Members of the FIXM CCB
===========================================
All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  * Redistributions of source code must retain the above copyright notice, this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the disclaimer in the documentation and/or other materials provided with the distribution.
  * Neither the names of the FIXM CCB members nor the names of their contributors may be used to endorse or promote products derived from this specification without specific prior written permission.

DISCLAIMER
THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
==========================================
Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative:
http://www.opensource.org/licenses/bsd-license.php
The authoritative reference for FIXM is www.FIXM.aero.
Details on the FIXM CCB and a list of its members is available on request from FIXM_Secretariat@lists.eurocontrol.int</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.fixm.aero/base/4.3" schemaLocation="../../base/Base.xsd"/>
	<xs:simpleType name="CriticalSafetyIndexType">
		<xs:annotation>
			<xs:documentation>The dimensionless number (rounded up to the next tenth) assigned to and placed on the label of a fissile material package to designate the degree of control of accumulation of packages containing fissile material during transportation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:DecimalIndexType">
			<xs:fractionDigits value="1"/>
			<xs:maxInclusive value="100.0"/>
			<xs:minInclusive value="0.0"/>
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RadioactiveMaterialCategoryType">
		<xs:annotation>
			<xs:documentation>A category used for radioactive materials in a package, overpack or freight container, based on their maximum radiation level.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="I_WHITE">
				<xs:annotation>
					<xs:documentation>.Surface radiation &lt;0.5 millirem/hr, 1 meter radiation: N/A</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="II_YELLOW"/>
			<xs:enumeration value="III_YELLOW">
				<xs:annotation>
					<xs:documentation>Surface radiation &gt;50 millirem/hr, 1 meter radiation &gt;1 millirem/hr</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransportIndexType">
		<xs:annotation>
			<xs:documentation>A figure representing the radiation level measured at one meter from the package.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fb:DecimalIndexType">
			<xs:fractionDigits value="1"/>
			<xs:maxInclusive value="50.0"/>
			<xs:minInclusive value="0.0"/>
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RadioactiveMaterialType">
		<xs:annotation>
			<xs:documentation>The  grouping element for goods that contain radioactive materials.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="category" type="fx:RadioactiveMaterialCategoryType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A category used for radioactive materials in a package, overpack or freight container, based on their maximum radiation level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="criticalSafetyIndex" type="fx:CriticalSafetyIndexType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>The dimensionless number (rounded up to the next tenth) assigned to and placed on the label of a fissile material package to designate the degree of control of accumulation of packages containing fissile material during transportation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="fb:RadioactiveMaterialExtensionType" minOccurs="0" maxOccurs="2000" nillable="true">
				<xs:annotation>
					<xs:documentation>An extension hook for attaching extension (non-core) classes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transportIndex" type="fx:TransportIndexType" minOccurs="0" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>A figure representing the radiation level measured at one meter from the package.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
